/* navbarin tyyli */

[class^="col"] {
	border: 1px solid black;
	background-color: lightskyblue;

}

[class^="navbar"] {
	margin: auto;
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 40px;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 2px 2px 4px white;
}
/* visan tyylittelyä */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
	text-decoration: black;
}

#tietoVisa {
	width: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: black;
	background-image: url(/Viihde/images/teatteri22.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
}

h1 {
	text-align: center;
	font-family: fantasy;
	font-size: 100px;
}

h2 {
	text-align: center;
	font-family: fantasy;
	font-size: 50px;
}

.game-quiz-container {
	width: 45rem;
	height: 30rem;
	background-image: url(/Viihde/images/filmirulla.jpg);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	border-radius: 70px;
}

.game-details-container {
	width: 80%;
	height: 4rem;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.game-details-container h1 {
	font-size: 1.2rem;
	font-family: fantasy;
	color: white;
}

.game-question-container {
	width: 80%;
	height: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: lightskyblue;
	border-radius: 50px;
}

.game-question-container h1 {
	font-size: 30px;
	text-align: center;
	padding: 10px;
}

.game-options-container {
	font-size: 15x;
	width: 80%;
	height: 12rem;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
}

.game-options-container span {
	width: 45%;
	height: 3rem;
	border: 2px solid rgb(3, 25, 77);
	border-radius: 20px;
	overflow: hidden;
	background-color: lightskyblue;
}

span label {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	transition: transform 0.3s;
	font-weight: 600;
	color: rgb(22, 22, 22);
}

span label:hover {
	-ms-transform: scale(1.12);
	-webkit-transform: scale(1.12);
	transform: scale(1.12);
	color: rgb(7, 7, 244);
}

input[type="radio"] {
	position: relative;
	display: none;
}

input[type=radio]:checked~.option {
	background: rgb(63, 126, 208);
}

.next-button-container {
	width: 50%;
	height: 3rem;
	display: flex;
	justify-content: center;
}

.next-button-container button {
	width: 8rem;
	height: 2rem;
	border-radius: 10px;
	background: none;
	color: rgb(25, 25, 25);
	font-weight: 600;
	border: 2px solid rgb(3, 25, 77);
	cursor: pointer;
	outline: none;
	background-color: lightskyblue;
}

.next-button-container button:hover {
	background-color: rgb(63, 126, 208);
}

.modal-container {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.4);
	flex-direction: column;
	align-items: center;
	justify-content: center;
	-webkit-animation: fadeIn 1.2s ease-in-out;
	animation: fadeIn 1.2s ease-in-out;
}

.modal-content-container {
	height: 20rem;
	width: 25rem;
	background-color: black;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	border-radius: 25px;
}

.modal-content-container h1 {
	font-size: 1.3rem;
	height: 3rem;
	color: lightgray;
	text-align: center;
}

.grade-details {
	width: 15rem;
	height: 10rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}

.grade-details p {
	color: white;
	text-align: center;
}

.modal-button-container {
	height: 2rem;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.modal-button-container button {
	width: 10rem;
	height: 2rem;
	background: none;
	outline: none;
	border: 1px solid rgb(252, 242, 241);
	color: rgb(40, 198, 8);
	font-size: 1.1rem;
	cursor: auto;
	border-radius: 20px;
}

.modal-button-container button:hover {
	background-color: rgb(83, 82, 82);
}