/* navbarin tyyli */

[class^="col"]{
    border: 1px solid black;
    background-color: lightskyblue;    
    }


[class^= "navbar"]{
     margin: auto;
     padding-top: 20px;
     padding-bottom: 20px;
     font-size: 40px;
}

/* visan tyyli*/

body {
    font-family: sans-serif;
    background: url(/musiikki/elvis.jpg);
    color: black;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

h1{
  text-align: center;
  font-size: 100px;
  color: WhiteSmoke;
  margin-bottom: 30px ;
}

h2{
text-align: center;    
}

button{
    padding: 0.2rem 1.5rem;
    border: 1px solid black;
    font-size: 1.5rem;
    border-radius: 1.5rem;
    color: black;
    background: #F5F5DC;
}
#question{
    margin-bottom: 1rem;
}
.option{
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    width: 15rem;
    background: #F5F5DC;
    border-radius: 2rem;
    border: 1px solid black;
    color: black
}
.questions{
    margin: 3rem auto;
    padding: 2rem;
    background: lightskyblue;
    border-radius: 1rem;
    cursor: default;
}
#scoreboard{
    width: 20rem;
    background: url(/musiikki/soittaja1.jpg);
    color: white;
    padding: 2rem;
    text-align: center;
    margin: auto;
    position: relative;
    top: 5rem;
    display: none;
}
#answerBank{
    width: 20rem;
    background: url(/musiikki/apinaorkesteri.jpg);
    color: white;
    padding: 2rem;
    text-align: center;
    margin: auto;
    position: relative;
    top: 5rem;
    display: none;
}
.option:hover{
    color:  DodgerBlue;
}
span{
    display: block;
    padding: 0.1rem 0.7rem;
    border-radius: 1rem;
}
ol{
    position: relative;
    padding: 0 1.5rem;
}
#score-title{
    margin: 1rem 0;
}
#score-btn,#check-answer{
    margin-top: 1rem;
}