/*Otsikoiden muotoilu*/
h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    color: white;  
}

h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}

h4 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:white;
}

/*Navbar muotoilu*/
[class*="nav"] {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

/*Palstojen muotoilu*/
[class*="col-sm"] {
    color:white;
    background-color: lightskyblue;
}

/*Taustaväri sivulle*/
body {
    background-color: #F8F9FA;
}

/*Tekijä*/
footer{
    padding-top: 50px;
    text-align: center;
}



