
/* Html- sivun otsikoiden muotoilut*/
h1 {
    font-family: 'Orelega One', cursive;
    font-size: 50px;
    color: white;
    text-align: center;
    text-shadow: 2px 2px 4px black;
}

h2 {
    font-family: 'Orelega One', cursive;
    color: white;
    text-align: center;
    text-shadow: 2px 2px 4px black;
}

h4 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
}

/*Navbar muotoilu*/
[class^="navbar"] {
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 40px;
    background-color: lightskyblue;
}

/*Kysymys- ja vastausosion muotoilut*/
[class*="col"] {
    color:black;
    background-color: lightskyblue;
    border: 1px solid black;
    font-size: 25px;
    text-align: center;
    opacity: 0.9;
}

body {
    background-image: url("images/luonto.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

#vinkki{
    font-size: 15px;
    font-style: italic;
}

#kuvat{
    text-align: center;
    font-size: medium;
}

/*Kysymysten näkyvyys*/
.question{
    display:none
}
  
.active{
    display:block
}

/*Tekijä*/
footer{
    padding-top: 10px;
    text-align: center;
    color: black;
    font-weight: bold;
    text-shadow: 2px 2px 4px white;
}